<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyDirectorySan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CopyDirectorySan.Properties.Settings>
            <setting name="li_PathSource" serializeAs="String">
                <value />
            </setting>
            <setting name="li_PathDest" serializeAs="String">
                <value />
            </setting>
            <setting name="li_CopyStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="li_OpenDirAfterComp" serializeAs="String">
                <value />
            </setting>
            <setting name="li_Overwrite" serializeAs="String">
                <value />
            </setting>
        </CopyDirectorySan.Properties.Settings>
    </userSettings>
</configuration>